* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --main-color: #eb3b5a;
    --bg-color: #fff;
    --text-color: #222f3e;
    --blue-color: #3867d6;
}


body {
    color: var(--text-color);
}

img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--bg-color);
    box-shadow: 0 1px 5px rgba(0, 50, 120, 0.5);
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

section {
    padding: 70px 0 50px;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}

#cart-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

.cart {
    position: fixed;
    width: 300px;
    min-height: 100vh;
    top: 0;
    right: -100%;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 1);
    transition: 0.5s;
}

.cart.active {
    right: 0;
}

.cart-title {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.container .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

.content {
    display: flex;
}

.img-product {
    width: 12.5rem;
    height: 12.5rem;
}

.product-box {
    position: relative;
    margin: 20px 50px;
}
.product-box:hover {
    padding: 5px;
    border: 1px solid var(--text-color);
    transition: 0.5s;
    cursor: pointer;
}

.product-title {
    text-align: center;
    margin: 15px;
    font-size: 1.5rem;
    font-weight: 700;
}
.price {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 200px;
}

.add-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 5px;
}

.cart-box {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    align-items: center;
    gap: 1rem;
    margin-top: 1.2rem;
}

.img-cart {
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: contain;
}

.box-detail {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.2rem;
    margin-top: 10px;
}

.cart-price {
    font-size: 1.4rem;
    font-weight: 600;
}

.quantity {
    width: 50px;
    border: 1px solid var(--text-color);
    font-size: 1.4rem;
    text-align: center;
}

.cart-remove {
    color: var(--main-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    border-top: 1px solid var(--text-color);
}
.total-title {
    font-size: 1.5rem;
    font-weight: 600;
}
.total-price {
    margin-left: 5px;
    font-size: 1.4rem;
    font-weight: 700;
}

.btn-buy {
    display: flex;
    width: 120px;
    height: 40px;
    margin: 25px auto 0 auto;
    padding: 5px 20px;
    font-size: 1.5rem;
    background: var(--blue-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-buy:hover {
    background: var(--text-color);
}

#close {
    position: absolute;
    font-size: 2rem;
    top: 20px;
    right: 10px;
    cursor: pointer;
}


@media(max-width: 1200px) {
    .nav {
        padding: 10px 5px;
    }

    section {
        padding: 50px 0 20px;
    }

    .container {
        width: 85%;
        margin: 0 auto;
    }

    .img-product {
        width: 10.5rem;
        height: 10.5rem;
    }
    
    .product-box {
        margin: 10px 30px;
    }

    .product-title {
        margin: 10px;
        font-size: 1.4rem;
        font-weight: 600;
    }
    .price {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 200px;
    }
    
}


@media(max-width: 992px) {
    .nav {
        padding: 10px 5px;
    }

    section {
        padding: 50px 20px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .img-product {
        width: 8.5rem;
        height: 8.5rem;
    }
    
    .product-box {
        margin: 8px 15px;
    }

    .product-title {
        margin: 10px;
        font-size: 1.1rem;
        font-weight: 600;
    }
    .price {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 200px;
    }

    .cart {
        position: fixed;
        width: 250px;
        padding: 10px;
    }

    .cart-box {
        display: grid;
        grid-template-columns: 17% 40% 15%;
        gap: 0.7rem;
    }

    .cart-title {
        font-size: 1.4rem;
        font-weight: 700;
    }
    
    .img-cart {
        width: 70px;
        height: 70px;
        padding: 7px;
    }

    .box-detail {
        display: grid;
        row-gap: 0.4rem;
    }
    
}



@media(max-width: 768px) {
    .nav {
        padding: 10px 5px;
    }

    section {
        padding: 50px 20px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .img-product {
        width: 6.5rem;
        height: 6.5rem;
    }
    
    .product-box {
        margin: 3px 7px;
    }

   .container .title {
        font-size: 1.5rem;
    }

    .product-title {
        margin: 5px;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .price {
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: 200px;
    }

    .cart {
        position: fixed;
        width: 210px;
        padding: 7px;
    }

    .cart-box {
        display: grid;
        grid-template-columns: 14% 32% 12%;
        gap: 0.6rem;
    }

    .cart-title {
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    .img-cart {
        width: 60px;
        height: 60px;
        padding: 7px;
    }

    .box-detail {
        row-gap: 0.4rem;
    }
    
}

